{
    "importOrder": [
        "<BUILT_IN_MODULES>",
        "",
        "^@/(.*)$",
        "",
        "<THIRD_PARTY_MODULES>",
        "",
        "^[.]"
    ],
    "plugins": [
        "./node_modules/prettier-plugin-blade/",
        "./node_modules/prettier-plugin-tailwindcss/"
    ],
    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade"
            }
        }
    ]
}
