@tailwind base;
@tailwind components;
@tailwind utilities;

/* Lighty */
.lighty {
    border-radius: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    line-height: 1.5;
    overflow-x: hidden;
    padding: 0 !important;

    @apply m-0 mb-4 overflow-hidden border font-light;
}

.lighty code:not(pre *) {
    background-color: transparent;
    border-width: 0;
    color: #6b05af;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.lighty code:not(pre *) {
    --tw-bg-opacity: 1;
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
    border-radius: 0.125rem;
    border-width: 1px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 1px 0.25rem;
}

.lighty code:not(pre *):after,
.lighty code:not(pre *):before {
    --tw-text-opacity: 1;
    color: rgba(156, 163, 175, var(--tw-text-opacity));
    content: "`";
}

.lighty code {
    display: block;
    min-height: 100%;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.lighty code .line {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    display: inline-block;
    width: 100%;
}

.lighty code .line-number,
.lighty code .summary-caret {
    margin-right: 1rem;
}

.lighty code .line-highlight {
    @apply bg-neutral-50;
}

.lighty code.has-focus-lines .line:not(.line-focus) {
    transition: filter 0.35s, opacity 0.35s;
    filter: blur(0.095rem);
    opacity: 0.65;
}

.lighty code.has-focus-lines:hover .line:not(.line-focus) {
    filter: blur(0px);
    opacity: 1;
}

.lighty code details > summary {
    display: inline-block !important;
}

.lighty code details > summary:focus {
    outline: none;
}

.lighty code details > summary::-webkit-details-marker,
.lighty code details > summary::marker {
    display: none;
}

.lighty code .line-number {
    display: inline-block;
    width: 24px !important;
}

.lighty code .summary-caret {
    display: inline-block;
    width: 12px !important;
}

.lighty code .diff-indicator {
    display: inline-block;
    width: 24px;
}

.lighty code .summary-caret:after {
    pointer-events: none;
}

.lighty code details[open] .summary-caret-start:after {
    content: "-";
}

.lighty code details:not([open]) .summary-caret-start:after {
    content: "+";
}

.lighty code details[open] .summary-hide-when-open {
    display: none;
}

.lighty code details:not([open]) .summary-hide-when-open {
    display: inline;
}

.lighty code .line-add {
    @apply bg-emerald-100;
}

.lighty code .line-add * {
    @apply !text-emerald-600;
}

.lighty code .line-delete {
    @apply bg-rose-100;
}

.lighty code .line-delete * {
    @apply !text-rose-600;
}

/* Lighty Custom */
.lighty .segment-hex-color {
    @apply rounded p-1;
}

.heading-permalink {
    @apply mr-2 text-slate-400 no-underline;
}

/* Application */
@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 47.4% 11.2%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 47.4% 11.2%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 100% 50%;
        --destructive-foreground: 210 40% 98%;

        --ring: 215 20.2% 65.1%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 224 71% 4%;
        --foreground: 213 31% 91%;

        --muted: 223 47% 11%;
        --muted-foreground: 215.4 16.3% 56.9%;

        --accent: 216 34% 17%;
        --accent-foreground: 210 40% 98%;

        --popover: 224 71% 4%;
        --popover-foreground: 215 20.2% 65.1%;

        --border: 216 34% 17%;
        --input: 216 34% 17%;

        --card: 224 71% 4%;
        --card-foreground: 213 31% 91%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 1.2%;

        --secondary: 222.2 47.4% 11.2%;
        --secondary-foreground: 210 40% 98%;

        --destructive: 0 63% 31%;
        --destructive-foreground: 210 40% 98%;

        --ring: 216 34% 17%;

        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings: "rlig" 1, "calt" 1;
    }
}

@media (max-width: 640px) {
    .container {
        @apply px-4;
    }
}
